.demo-ribbon {
  width: 100%;
  height: 36vh;

  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.preview-container{
  width: 50%;
  padding-right: 20px;
}

button{
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  float: right;
  border-radius: 5px;
}

.copy-button {
  background-color: #266fdf;
  color: white;
  border: 2px solid #266fdf;
}

.copy-button:hover {
  background-color: white;
  color: #266fdf;
}

.copy-button-clicked {
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50;
}

.copy-button-clicked:hover {
  background-color: white;
  color: #4CAF50;
}

.card{
  height: 80px;
  display: flex;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
}

ul{
  padding: 0px;
}

.card #div-h6 {
  min-width: 200px;
  width: 100%;
  padding-top: 15px;
  padding-left: 10px;
}

.card h6, h3 {
  margin: 0px!important;
}

.card p {
  font-size: 16px;
}

.card #button-div{
  min-width: 142px;
  padding: 5px;
}

header{
  background-color: black;
}

.demo-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
  background-color: #266fdf;
}

.demo-header span{
  color: white;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 80px 56px;
  padding-top: 20px;
  margin-bottom: 80px;
  width: 100%!important;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h3 {
  margin-top: 48px;
}

.demo-content h5 {
  margin-top: 0px!important;
}

.demo-footer {
  padding-left: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

#app{
  display: flex;
  width: 100%;
}

#div-card{
  width: 50%;
}
